html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}
.flex_container{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100%;
}

.navbar-nav li.active{
    background: #4299ff;
    border-radius: 5px;
}

.form-control::placeholder{
    color: #c1c1c1;
    font-size: 12px;
}

