<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache"/>
    <link rel="icon" href="http://localhost:8080/image/logo.svg" type="image/x-icon">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>添加需求</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/container.css}"
          href="../css/container.css"/>
    <link href="https://cdn.bootcss.com/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="webjars/bootstrap/4.0.0/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/gijgo.min.js"></script>
    <script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/messages/messages.zh-cn.min.js"></script>
</head>
<body style="display: flex;justify-content: center;">
    <div style="display: flex;flex-direction: column; width: 55%;"class="border">
        <div style="color: white;background: black;display: flex;justify-content: center;align-items: center;width: 100%;
                    height: 50px">
            <h5>添加需求</h5>
        </div>
        <div style="height: 700px;padding: 10px">
            <form action="">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="email" class="form-control" id="title" placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <label for="priority">优先级</label>
                    <select class="form-control" id="priority">
                        <option>低</option>
                        <option>中</option>
                        <option>高</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="detail">需求详情</label>
                    <textarea class="form-control" id="detail" rows="3" style="height: 350px;"></textarea>
                </div>
                <div class="custom-file" >
                    <input type="file" class="custom-file-input" id="fileList" lang="es" rows="4">
                    <label class="custom-file-label" for="fileList" >添加附件</label>
                </div>
                <div class="form-group" style="margin-top: 10px">
                    <label for="dateselect">预期时间</label>
                    <div style="display:flex; flex-direction: row;" id="dateselect" >
                        <input id="datepicker_begin">
                        <span class="input-group-addon" style="margin-left: 12px;margin-right: 12px">to</span>
                        <input id="datepicker_end">
                    </div>
                </div>
                <div class="form-group row" style="margin-left: auto;width: fit-content;margin-top: 20px;">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button type="button" class="btn btn-outline-secondary" id="close">返回</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button type="button" class="btn btn-warning" id="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    $(function(){
        $('#fileList').change(function(){
            var input = this;
            var url = $(this).val();

        });
        $('#submit').change(function(){

        });
    });
    $("#datepicker_begin").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
    $("#datepicker_end").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
</script>