<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/container.css}"
          href="../../css/container.css"/>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-left">
            <svg t="1616324298583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 p-id="5268" width="50" height="50">
                <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zM512 512 217.84 217.84C293.12 142.56 397.12 96 512 96L512 512z"
                      p-id="5269" fill="#5c84aa"></path>
            </svg>
        </a>
        <span style="margin-left:10px;font-size:20px;color: #c1c1c1">开 发 管 理 系 统</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " id="home">
                    <a class="nav-link" href="/home">工作台</a>
                </li>
                <li class="nav-item active" id="doc">
                    <a class="nav-link" href="/doc/document">文档</a>
                </li>
                <li class="nav-item" id="project">
                    <a class="nav-link" href="#">项目</a>
                </li>
                <li class="nav-item" id="msg">
                    <a class="nav-link " href="#">消息</a>
                </li>
                <li class="nav-item" id="setting">
                    <a class="nav-link " href="#">人员管理</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 bg-dark " type="search" placeholder="请输入关键字"
                       aria-label="Search" style="border-color: #5c84aa;outline-color: #5c84aa">
                <button class="btn my-2 my-sm-0 btn-dark" type="submit"
                        style="border-color: #5c84aa;outline-color: #5c84aa">搜索
                </button>
            </form>
        </div>
    </nav>
</div>
<div style="display: flex;flex-direction: row;height: 100%">
    <div style="display: flex;flex-direction: column; height: 100%;width: 20%;
                background-color: #333333">
        <ul class="list-group">
            <li class="list-group-item nav-item d-flex justify-content-between align-items-center "
                style="border-color: #5c84aa;background-color: #3D3D3D;padding: 0px"
                th:each="project, value: ${project_list}">
                <a href="#" class="nav-link btn bg-dark"
                   style="color: #5c84aa;display: flex;flex-direction: row;align-items: center;width: 100%">
                    <svg t="1616511526358" class="icon" viewBox="0 0 1029 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="1720" width="38" height=38>
                        <path d="M982.4 883.4H52.6c-25.9 0-47-21.1-47-47V160.2h31.3v676.2c0 8.6 7 15.7 15.7 15.7h929.8c8.6 0 15.7-7 15.7-15.7V161.2h31.3v675.2c-0.1 25.9-21.1 47-47 47z"
                              fill="#5c84aa" p-id="1721"></path>
                        <path d="M5.3 144.5h1023.9v31.3H5.3z" fill="#5c84aa" p-id="1722"></path>
                        <path d="M331.6 169.4s-35.8-36.7-58.4-59.3c-17.2-17.2-35.8-16.5-35.9-16.5H105.7c-8.2 0-11 2.9-11.9 3.8-4.1 4.4-4.6 12.7-4.5 15.3v1.2l-0.5 44.9-31.3-0.3 0.5-44.3c-0.2-4.7-0.3-23.9 12.7-37.9 5.9-6.4 16.7-14 34.9-14h130.7c0.4-0.1 31.7-1.6 59.1 25.6 22.7 22.7 58.6 59.5 58.6 59.5l-22.4 22z"
                              fill="#5c84aa" p-id="1723"></path>
                    </svg>
                    <span th:text="${project[name]}" style="margin-left: 6px"></span>
                </a>
            </li>
        </ul>
    </div>
    <div style="display: flex;flex-direction: column;height: 100%;width: 80%;padding-left: 20px">
        <ul class="list-group"style="display: flex;flex-direction: column">
            <li class="list-group-item nav-item d-flex justify-content-between align-items-center "
                style="border-color: #5c84aa;background-color: #3D3D3D;padding: 0px; margin-top: 10px" >
                <a href="#" class="nav-link btn bg-dark"
                   style="color: #5c84aa;display: flex;flex-direction: row;align-items: center;width: 100%">
                    <svg t="1616511526358" class="icon" viewBox="0 0 1029 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="1720" width="28" height=28>
                        <path d="M982.4 883.4H52.6c-25.9 0-47-21.1-47-47V160.2h31.3v676.2c0 8.6 7 15.7 15.7 15.7h929.8c8.6 0 15.7-7 15.7-15.7V161.2h31.3v675.2c-0.1 25.9-21.1 47-47 47z"
                              fill="#5c84aa" p-id="1721"></path>
                        <path d="M5.3 144.5h1023.9v31.3H5.3z" fill="#5c84aa" p-id="1722"></path>
                        <path d="M331.6 169.4s-35.8-36.7-58.4-59.3c-17.2-17.2-35.8-16.5-35.9-16.5H105.7c-8.2 0-11 2.9-11.9 3.8-4.1 4.4-4.6 12.7-4.5 15.3v1.2l-0.5 44.9-31.3-0.3 0.5-44.3c-0.2-4.7-0.3-23.9 12.7-37.9 5.9-6.4 16.7-14 34.9-14h130.7c0.4-0.1 31.7-1.6 59.1 25.6 22.7 22.7 58.6 59.5 58.6 59.5l-22.4 22z"
                              fill="#5c84aa" p-id="1723"></path>
                    </svg>
                    <span style="margin-left: 6px">需求文档</span>
                </a>
            </li>
            <li class="list-group-item nav-item d-flex justify-content-between align-items-center "
                style="border-color: #5c84aa;background-color: #3D3D3D;padding: 0px;height: 30px" >
                <a href="#" class="nav-link btn bg-dark"
                   style="color: #5c84aa;display: flex;flex-direction: row;align-items: center;width: 100%">
                    <svg t="1616511526358" class="icon" viewBox="0 0 1029 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="1720" width="28" height=28>
                        <path d="M982.4 883.4H52.6c-25.9 0-47-21.1-47-47V160.2h31.3v676.2c0 8.6 7 15.7 15.7 15.7h929.8c8.6 0 15.7-7 15.7-15.7V161.2h31.3v675.2c-0.1 25.9-21.1 47-47 47z"
                              fill="#5c84aa" p-id="1721"></path>
                        <path d="M5.3 144.5h1023.9v31.3H5.3z" fill="#5c84aa" p-id="1722"></path>
                        <path d="M331.6 169.4s-35.8-36.7-58.4-59.3c-17.2-17.2-35.8-16.5-35.9-16.5H105.7c-8.2 0-11 2.9-11.9 3.8-4.1 4.4-4.6 12.7-4.5 15.3v1.2l-0.5 44.9-31.3-0.3 0.5-44.3c-0.2-4.7-0.3-23.9 12.7-37.9 5.9-6.4 16.7-14 34.9-14h130.7c0.4-0.1 31.7-1.6 59.1 25.6 22.7 22.7 58.6 59.5 58.6 59.5l-22.4 22z"
                              fill="#5c84aa" p-id="1723"></path>
                    </svg>
                    <span style="margin-left: 6px">需求文档</span>
                </a>
            </li>
            <li class="list-group-item nav-item d-flex justify-content-between align-items-center "
                style="border-color: #5c84aa;background-color: #3D3D3D;padding: 0px;height: 30px" >
                <a href="#" class="nav-link btn bg-dark"
                   style="color: #5c84aa;display: flex;flex-direction: row;align-items: center;width: 100%">
                    <svg t="1616511526358" class="icon" viewBox="0 0 1029 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="1720" width="28" height=28>
                        <path d="M982.4 883.4H52.6c-25.9 0-47-21.1-47-47V160.2h31.3v676.2c0 8.6 7 15.7 15.7 15.7h929.8c8.6 0 15.7-7 15.7-15.7V161.2h31.3v675.2c-0.1 25.9-21.1 47-47 47z"
                              fill="#5c84aa" p-id="1721"></path>
                        <path d="M5.3 144.5h1023.9v31.3H5.3z" fill="#5c84aa" p-id="1722"></path>
                        <path d="M331.6 169.4s-35.8-36.7-58.4-59.3c-17.2-17.2-35.8-16.5-35.9-16.5H105.7c-8.2 0-11 2.9-11.9 3.8-4.1 4.4-4.6 12.7-4.5 15.3v1.2l-0.5 44.9-31.3-0.3 0.5-44.3c-0.2-4.7-0.3-23.9 12.7-37.9 5.9-6.4 16.7-14 34.9-14h130.7c0.4-0.1 31.7-1.6 59.1 25.6 22.7 22.7 58.6 59.5 58.6 59.5l-22.4 22z"
                              fill="#5c84aa" p-id="1723"></path>
                    </svg>
                    <span style="margin-left: 6px">需求文档</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>

<script>
    // $(function (){
    //     $.ajax({
    //         url: "http://localhost:8080/project/list",
    //         data:{
    //         },
    //         dataType: "json",
    //         type: "POST",
    //         success: function (res) {
    //             console.log(res)
    //         },
    //     })
    // })
</script>