<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/container.css}"
          href="../../css/container.css"/>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a href="#" class="navbar-left">
            <img alt="Brand" src="http://localhost:8080/image/logo.png" >
        </a>
        <span style="margin-left:10px;font-size:20px;font-weight: bold;color: #c1c1c1">开发管理系统</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="home">
                    <a class="nav-link" href="/home">工作台</a>
                </li>
                <li class="nav-item" id="doc">
                    <a class="nav-link" href="/doc/document" >文档</a>
                </li>
                <li class="nav-item"  id="project">
                    <a class="nav-link" href="#" >项目</a>
                </li>
                <li class="nav-item" id="msg">
                    <a class="nav-link " href="#" >消息</a>
                </li>
                <li class="nav-item" id="setting">
                    <a class="nav-link " href="#" >设置</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 bg-dark border-primary" type="search" placeholder="请输入关键字" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >搜索</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>