<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="icon" href="http://localhost:8080/image/logo.svg" type="image/x-icon">
    <script src="webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/container.css}"
          href="../../css/container.css"/>
    <script src="webjars/bootstrap/4.0.0/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/document.css}"
          href="../css/document.css"/>
    <link rel="stylesheet" th:href="@{/css/human.css}"
          href="../css/human.css"/>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background:#545C64 ;padding: 0px;">
        <a href="#" class="navbar-brand"
           style="display: flex;flex-direction: row;align-items: center">
            <svg t="1617175126380" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 p-id="1055" width="35px" height="35px">
                <path d="M813.607846 477.139349c0 154.326113-125.064842 279.463205-279.390955 279.463205S254.753687 631.465462 254.753687 477.139349c0-120.729838 76.512806-223.469414 183.731884-262.556692 29.839272-10.909758 62.135046-16.834262 95.73132-16.834262 99.705073 0 187.199887 52.164538 236.618924 130.772596a277.917054 277.917054 0 0 1 42.772031 148.618358z"
                      fill="#FDBA13" p-id="1056"></path>
                <path d="M349.762506 248.106682c-20.374515 10.693008-11.126508 40.026529-25.432018 98.332322-27.88852 113.649333-92.263318 121.235589-90.601567 192.185141 0.50575 22.469766 30.561772 67.9873 90.601567 159.022366 34.174275 51.875538 45.951034 64.591547 61.846045 65.169548 37.570028 1.300501 41.47153-67.192549 101.583574-100.499824 66.325549-36.703027 111.265081 18.929514 174.483878-14.37776 36.486277-19.218514 35.041276-44.795033 99.416073-174.483878 60.979045-122.89734 85.616313-146.884358 72.900303-164.585621-30.417272-42.338531-179.107881 83.737811-326.931489 26.51577C425.336062 303.450222 383.720031 230.260919 349.762506 248.106682z"
                      fill="#E65125" p-id="1057"></path>
                <path d="M536.384393 474.538348m-170.076625 0a170.076625 170.076625 0 1 0 340.153249 0 170.076625 170.076625 0 1 0-340.153249 0Z"
                      p-id="1058"></path>
            </svg>
            <span style="margin-left:5px;font-size: 14px; color: white">DEV-MANAGEMENT</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px; font-size: 12px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active " id="home">
                    <a class="nav-link text-white" href="/home/index">工作台</a>
                </li>
                <li class="nav-item" id="doc">
                    <a class="nav-link text-white" href="/doc/document">文档</a>
                </li>
                <li class="nav-item" id="project">
                    <a class="nav-link text-white" href="/project/index">项目</a>
                </li>
                <li class="nav-item" id="msg">
                    <a class="nav-link text-white" href="/message/index">消息</a>
                </li>
                <li class="nav-item" id="setting" style="background:#8f8f8f;border-radius: 2px;height: 16px">
                    <a class="nav-link text-white" style="color: white" href="/human/index">人员管理</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right "
            style="margin-right: 30px;display: flex;flex-direction: row;align-items: center">
            <li class="nav-item dropdown" style="display: flex;flex-direction: row" id="myself">
                <a class="dropdown-toggle nav-link" id="navbarScrollingDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    <span th:text="${session.username}"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="width: 30px;padding: 0">
                    <li><a class="dropdown-item" href="/logout" style="font-size: 14px">退出</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div style="display: flex;flex-direction: row;height: 100%;margin-top: 30px">
    <div style="display: flex;flex-direction: column; height: 100%;width: 20%;margin-top: 20px" class="border-right">
        <div style="font-size: 15px;height: 45px;line-height: 45px;background: rgb(52, 58, 64);color: white;display:flex;justify-content: center;">
            我参与的项目
        </div>
        <ul class="list-group" id="project_list">
            <li class="list-group-item nav-item d-flex justify-content-between align-items-center "
                style="padding: 0px;border-radius: 0"
                th:each="project, value: ${project_list}">
                <a href="#" class="nav-link btn bg-light"
                   style="color: #545C64;display: flex;flex-direction: row;align-items: center;width: 100%"
                   th:href="@{'http://localhost:8080/human/index?id='+${project[id]}}">
                    <!--                    th:onclick="getDocument([[${project[id]}]])"-->
                    <svg t="1617465759897" class="icon" viewBox="0 0 1024 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="10374" width="30" height="30">
                        <path d="M523.024313 319.51484a16.906591 16.906591 0 0 1-12.054992-5.048953l-94.153925-95.65052-94.170371 95.765643a16.906591 16.906591 0 0 1-28.945137-11.857639V16.906591A16.906591 16.906591 0 0 1 310.606479 0h212.417834a16.906591 16.906591 0 0 1 16.906591 16.906591v285.783888a16.906591 16.906591 0 0 1-16.906591 16.824361z m-106.208917-141.699602a16.906591 16.906591 0 0 1 12.038546 5.048953l77.296672 78.480792V33.862521H327.496624v227.548246l77.296673-78.480791a16.906591 16.906591 0 0 1 12.022099-5.048953z"
                              fill="#545C64" p-id="10375"></path>
                        <path d="M828.231046 0.065784H195.714021A111.372992 111.372992 0 0 0 84.456152 111.323654v801.418476a111.372992 111.372992 0 0 0 111.257869 111.25787h632.517025a111.372992 111.372992 0 0 0 111.257869-111.25787V111.323654A111.372992 111.372992 0 0 0 828.231046 0.065784zM118.269334 111.323654a77.543364 77.543364 0 0 1 77.444687-77.444687h632.517025a77.543364 77.543364 0 0 1 77.444687 77.444687v634.441218a77.543364 77.543364 0 0 1-77.444687 77.444687H195.714021a77.543364 77.543364 0 0 1-77.444687-77.444687z m709.961712 878.863163H195.714021a77.543364 77.543364 0 0 1-77.444687-77.444687v-87.164332a110.846717 110.846717 0 0 0 77.444687 31.494282h632.517025a110.846717 110.846717 0 0 0 77.444687-31.494282v87.164332a77.526918 77.526918 0 0 1-77.444687 77.444687z"
                              fill="#545C64" p-id="10376"></path>
                    </svg>
                    <span th:text="${project[name]}" style="margin-left: 6px"></span>
                    <span th:text="${project[id]}" style="display: none"></span>
                </a>
            </li>
        </ul>
    </div>
    <div style="width: 70%;margin: 0 auto; margin-top: 20px; height: 70%;display: flex" class="border"
         th:if="${#strings.isEmpty(project_name)}">
        <img th:src="@{/image/nothing.svg}" width="500" height="500" style="margin: 0 auto"/>
    </div>
    <div style="width: 70%;margin: 0 auto; margin-top: 20px; height: 85%;display: flex;flex-direction: column"
         class="" data-bs-spy="scroll"
         th:if="not ${#strings.isEmpty(project_name)}">
        <div style="width: 100%;padding: 10px;height: 45px;display: flex;flex-direction: row;
        background:rgb(52, 58, 64); align-items: center;"
             class="border-left border-top border-right">
            <span th:text="${project_name}" style="color: white"></span>
            <div class="input-group" style="width: 35%;margin-left: auto">
                <input type="text" class="form-control form-control-sm" placeholder="用户名" aria-label="用户名"
                       aria-describedby="basic-addon2" id="keyword">
                <div class="input-group-append">
                    <button class="btn btn-outline-warning btn-sm" type="button"
                            th:onclick="search([[${project_id}]])">
                        搜索
                    </button>
                </div>
                <div>
                    <button class="btn btn-outline-success btn-sm" style="margin-left: 10px;border-radius: 0"
                            data-toggle="modal" data-target="#myModal">添加成员
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">添加成员</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" style="height: 280px;">
                                    <div class="dropdown">
                                        <button onclick="myFunction()" class="dropbtn">人员列表</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <input type="text" placeholder="搜索" id="myInput" onkeyup="filterFunction()">
                                            <a th:each="item:${add_user_list}"
                                               th:text="${item.userName}"
                                               th:onclick="addToProject([[${item.id}]],[[${item.userName}]])">
                                            </a>
                                        </div>
                                    </div>
                                    <div style="margin-left: 5px;margin-top: 10px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1" checked value="2">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                开发
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault2" value="3">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                测试
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault3" value="4">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                运维
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault4" value="5">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                产品经理
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault5" value="1">
                                            <label class="form-check-label" for="flexRadioDefault5">
                                                管理员
                                            </label>
                                        </div>
                                        <div id="toBeAdd" class="bg-warning" style="font-size: 14px;width: fit-content;
                                            margin-left: 5px;border-radius: 6px;color: black;padding-left: 12px;padding-right: 12px;
                                            line-height: 35px; margin-top: 20px">
                                            <span id="toBeAddUserName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal"
                                            th:onclick="addToProjectPost([[${project_id}]])">添加
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="display: flex;flex-direction: row;align-items: center;" th:each="item : ${member_list}">
                <span th:text="${item.userName}" style="color: #545C64"></span>
                <div style="display: flex;flex-direction:row;align-items: center;margin-left: auto;align-items: center">
                    <span class="badge badge-warning badge-pill" th:text="${item.role}"></span>
                    <div>
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                style="margin-left: 10px;font-size: 12px;" data-toggle="modal" th:attr="data-target='#'+${item.userId}">删除</button>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
<div th:each="modelEach:${member_list}">
    <div class="modal fade" th:id="${modelEach.userId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" >确认删除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 15px">
                    <span>删除</span>
                    <span style="background: red;border-radius: 5px;padding: 3px;color: white" th:text="${modelEach.userName}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" th:onclick="rem([[${modelEach.projectUserRelactionId}]],[[${project_id}]])">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f6;
    color: #808080;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px">
    <span style="height: 40px;line-height: 40px ">© 2021 Copyright: 李景根</span>
</div>
</body>
</html>

<script>
    let globalUserId;

    function search(projectId){
       let keyWord= $('#keyword').val()
        window.location.href = '/human/index?id=' + projectId+'&keyword='+keyWord;
    }

    function addToProject(userId, userName) {
        document.getElementById("myDropdown").classList.toggle("show")
        globalUserId = userId
        $("#toBeAddUserName").text(userName)
    }

    function addToProjectPost(projectId) {
        let radios = $(".form-check :checked").val()
        $.ajax({
            url: "http://localhost:8080/human/addUserToProject",
            data: {
                userId: globalUserId,
                projectId: projectId,
                role: radios,
            },
            dataType: "json",
            type: "POST",
            success: function (res) {
                window.location.href = '/human/index?id=' + projectId;
                $("#toBeAddUserName").text("")
            },
        })
    }

    function getDocument(id) {
        $.ajax({
            url: "http://localhost:8080/directory/listByProject?id=" + id,
            dataType: "json",
            type: "Get",
            success: function (res) {
                console.log(res)
            },
        })
    }

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    function rem(id,projectId){
        $.ajax({
            url: "http://localhost:8080/human/rem",
            data: {
                id: id,
            },
            dataType: "json",
            type: "POST",
            success: function (res) {
                window.location.href = '/human/index?id=' + projectId;
            },
        })
    }
    // 任务状态
    // 需求任务：完成
</script>